<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zll.xunyiwenyao"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="22" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.zll.xunyiwenyao.activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.zll.xunyiwenyao.activity.MainActivity"></activity>
        <activity android:name="com.zll.xunyiwenyao.activity.PrescriptionCreateActivity"></activity>
        <activity android:name="com.zll.xunyiwenyao.activity.PrescriptionCreateMainActivity"></activity>
        <activity android:name="com.zll.xunyiwenyao.activity.PrescriptionExamineActivity"></activity>
        <activity android:name="com.zll.xunyiwenyao.activity.PrescriptionQueryActivity"></activity>
        <activity android:name="com.zll.xunyiwenyao.activity.PrescriptionTemplateActivity"></activity>
        <activity android:name="com.zll.xunyiwenyao.activity.PrescriptionTemplateMangeActivity"></activity>
        <activity android:name="com.zll.xunyiwenyao.activity.PrescriptionQueryAllPrescriptionActivity"></activity>
        <activity android:name="com.zll.xunyiwenyao.activity.PrescriptionQueryApprovedActivity"></activity>
        <activity android:name="com.zll.xunyiwenyao.activity.PrescriptionQueryRefuseActivity"></activity>
        <activity android:name="com.zll.xunyiwenyao.activity.PrescriptionQueryToApproveActivity"></activity>
        <activity android:name="com.zll.xunyiwenyao.activity.PrescriptionQueryToSubmitActivity"></activity>


        <activity android:name="Inspection_create"></activity>
        <activity android:name="Inspection_template"></activity>
        <activity android:name="Inspection_query"></activity>
        <activity android:name="Review"></activity>
        <activity android:name="Report"></activity>
    </application>

</manifest>
